openapi: 3.0.0
externalDocs:
  description: Learn more about the Slack Web API
  url: https://api.slack.com/web
info:
  contact:
    name: Slack developer relations
    url: https://api.slack.com/support
  description: One way to interact with the Slack platform is its HTTP RPC-based Web API, a
    collection of methods requiring OAuth 2.0-based user, bot, or workspace
    tokens blessed with related OAuth scopes.
  title: Slack Web API
  version: 1.5.0
tags: []
servers:
  - url: https://slack.com/api
paths:
  /admin.apps.approve:
    post:
      description: Approve an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
      operationId: admin_apps_approve
      parameters:
        - description: "Authentication token. Requires scope: `admin.apps:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                team_id:
                  type: string
                app_id:
                  description: The id of the app to approve.
                  type: string
                request_id:
                  description: The id of the request to approve.
                  type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.apps:write
      tags:
        - admin.apps
        - admin
  /admin.apps.approved.list:
    get:
      description: List approved apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
      operationId: admin_apps_approved_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.apps:read`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: team_id
          schema:
            type: string
        - in: query
          name: enterprise_id
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.apps:read
      tags:
        - admin.apps.approved
        - admin
  /admin.apps.requests.list:
    get:
      description: List app requests for a team/workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
      operationId: admin_apps_requests_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.apps:read`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: team_id
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.apps:read
      tags:
        - admin.apps.requests
        - admin
  /admin.apps.restrict:
    post:
      description: Restrict an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
      operationId: admin_apps_restrict
      parameters:
        - description: "Authentication token. Requires scope: `admin.apps:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                team_id:
                  type: string
                app_id:
                  description: The id of the app to restrict.
                  type: string
                request_id:
                  description: The id of the request to restrict.
                  type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.apps:write
      tags:
        - admin.apps
        - admin
  /admin.apps.restricted.list:
    get:
      description: List restricted apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
      operationId: admin_apps_restricted_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.apps:read`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: team_id
          schema:
            type: string
        - in: query
          name: enterprise_id
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.apps:read
      tags:
        - admin.apps.restricted
        - admin
  /admin.conversations.setTeams:
    post:
      description: Set the workspaces in an Enterprise grid org that connect to a channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setTeams
      operationId: admin_conversations_setTeams
      parameters:
        - description: "Authentication token. Requires scope: `admin.conversations:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel_id:
                  description: The encoded `channel_id` to add or remove to workspaces.
                  type: string
                org_channel:
                  description: True if channel has to be converted to an org channel
                  type: boolean
                team_id:
                  description: The workspace to which the channel belongs. Omit this
                    argument if the channel is a cross-workspace shared channel.
                  type: string
                target_team_ids:
                  description: "The list of workspaces to which the channel should be
                    shared. Not required if the channel is being shared orgwide.
                    Example: `['T1234', 'T5678']`"
                  type: string
              required:
                - channel_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.conversations:write
      tags:
        - admin.conversations
        - admin
  /admin.emoji.add:
    post:
      description: Add an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.add
      operationId: admin_emoji_add
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                url:
                  description: The URL of a file to use as an image for the emoji. Square
                    images under 128KB and with transparent backgrounds work
                    best.
                  type: string
                token:
                  description: "Authentication token. Requires scope: `admin.teams:write`"
                  type: string
                name:
                  description: The name of the emoji to be removed. Colons (`:myemoji:`)
                    around the value are not required, although they may be
                    included.
                  type: string
              required:
                - url
                - token
                - name
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.emoji
        - admin
  /admin.emoji.addAlias:
    post:
      description: Add an emoji alias.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.addAlias
      operationId: admin_emoji_addAlias
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  description: "Authentication token. Requires scope: `admin.teams:write`"
                  type: string
                name:
                  description: The name of the emoji to be aliased. Colons (`:myemoji:`)
                    around the value are not required, although they may be
                    included.
                  type: string
                alias_for:
                  description: The alias of the emoji.
                  type: string
              required:
                - token
                - name
                - alias_for
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.emoji
        - admin
  /admin.emoji.list:
    get:
      description: List emoji for an Enterprise Grid organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.list
      operationId: admin_emoji_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.teams:read`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:read
      tags:
        - admin.emoji
        - admin
  /admin.emoji.remove:
    post:
      description: Remove an emoji across an Enterprise Grid organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.remove
      operationId: admin_emoji_remove
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  description: "Authentication token. Requires scope: `admin.teams:write`"
                  type: string
                name:
                  description: The name of the emoji to be removed. Colons (`:myemoji:`)
                    around the value are not required, although they may be
                    included.
                  type: string
              required:
                - token
                - name
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.emoji
        - admin
  /admin.emoji.rename:
    post:
      description: Rename an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.rename
      operationId: admin_emoji_rename
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                new_name:
                  description: The new name of the emoji.
                  type: string
                token:
                  description: "Authentication token. Requires scope: `admin.teams:write`"
                  type: string
                name:
                  description: The name of the emoji to be renamed. Colons (`:myemoji:`)
                    around the value are not required, although they may be
                    included.
                  type: string
              required:
                - new_name
                - token
                - name
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.emoji
        - admin
  /admin.inviteRequests.approve:
    post:
      description: Approve a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approve
      operationId: admin_inviteRequests_approve
      parameters:
        - description: "Authentication token. Requires scope: `admin.invites:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/admin_inviteRequests_approve"
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.invites:write
      tags:
        - admin.inviteRequests
        - admin
  /admin.inviteRequests.approved.list:
    get:
      description: List all approved workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approved.list
      operationId: admin_inviteRequests_approved_list
      parameters:
        - description: Value of the `next_cursor` field sent as part of the previous API
            response
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.invites:read`"
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The number of results that will be returned by the API on each
            invocation. Must be between 1 - 1000, both inclusive
          in: query
          name: limit
          schema:
            type: integer
        - description: ID for the workspace where the invite requests were made.
          in: query
          name: team_id
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.invites:read
      tags:
        - admin.inviteRequests.approved
        - admin
  /admin.inviteRequests.denied.list:
    get:
      description: List all denied workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.denied.list
      operationId: admin_inviteRequests_denied_list
      parameters:
        - description: Value of the `next_cursor` field sent as part of the previous api
            response
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.invites:read`"
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The number of results that will be returned by the API on each
            invocation. Must be between 1 - 1000 both inclusive
          in: query
          name: limit
          schema:
            type: integer
        - description: ID for the workspace where the invite requests were made.
          in: query
          name: team_id
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.invites:read
      tags:
        - admin.inviteRequests.denied
        - admin
  /admin.inviteRequests.deny:
    post:
      description: Deny a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.deny
      operationId: admin_inviteRequests_deny
      parameters:
        - description: "Authentication token. Requires scope: `admin.invites:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        $ref: "#/components/requestBodies/admin_inviteRequests_approve"
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.invites:write
      tags:
        - admin.inviteRequests
        - admin
  /admin.inviteRequests.list:
    get:
      description: List all pending workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.list
      operationId: admin_inviteRequests_list
      parameters:
        - description: Value of the `next_cursor` field sent as part of the previous API
            response
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.invites:read`"
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The number of results that will be returned by the API on each
            invocation. Must be between 1 - 1000, both inclusive
          in: query
          name: limit
          schema:
            type: integer
        - description: ID for the workspace where the invite requests were made.
          in: query
          name: team_id
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.invites:read
      tags:
        - admin.inviteRequests
        - admin
  /admin.teams.admins.list:
    get:
      description: List all of the admins on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.admins.list
      operationId: admin_teams_admins_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.teams:read`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: team_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:read
      tags:
        - admin.teams.admins
        - admin
  /admin.teams.create:
    post:
      description: Create an Enterprise team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.create
      operationId: admin_teams_create
      parameters:
        - description: "Authentication token. Requires scope: `admin.teams:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                team_domain:
                  description: Team domain (for example, slacksoftballteam).
                  type: string
                team_description:
                  description: Description for the team.
                  type: string
                team_name:
                  description: Team name (for example, Slack Softball Team).
                  type: string
                team_discoverability:
                  description: Who can join the team. A team's discoverability can be
                    `open`, `closed`, `invite_only`, or `unlisted`.
                  type: string
              required:
                - team_domain
                - team_name
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.teams
        - admin
  /admin.teams.list:
    get:
      description: List all teams on an Enterprise organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.list
      operationId: admin_teams_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.teams:read`"
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 100 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:read
      tags:
        - admin.teams
        - admin
  /admin.teams.owners.list:
    get:
      description: List all of the owners on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.owners.list
      operationId: admin_teams_owners_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.teams:read`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return. Must be between 1 - 1000 both
            inclusive.
          in: query
          name: limit
          schema:
            type: integer
        - in: query
          name: team_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:read
      tags:
        - admin.teams.owners
        - admin
  /admin.teams.settings.info:
    get:
      description: Fetch information about settings in a workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.info
      operationId: admin_teams_settings_info
      parameters:
        - description: "Authentication token. Requires scope: `admin.teams:read`"
          in: header
          name: token
          required: true
          schema:
            type: string
        - in: query
          name: team_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:read
      tags:
        - admin.teams.settings
        - admin
  /admin.teams.settings.setDefaultChannels:
    post:
      description: Set the default channels of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDefaultChannels
      operationId: admin_teams_settings_setDefaultChannels
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel_ids:
                  description: An array of channel IDs.
                  type: string
                token:
                  description: "Authentication token. Requires scope: `admin.teams:write`"
                  type: string
                team_id:
                  description: ID for the workspace to set the default channel for.
                  type: string
              required:
                - channel_ids
                - token
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.teams.settings
        - admin
  /admin.teams.settings.setDescription:
    post:
      description: Set the description of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDescription
      operationId: admin_teams_settings_setDescription
      parameters:
        - description: "Authentication token. Requires scope: `admin.teams:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                team_id:
                  description: ID for the workspace to set the description for.
                  type: string
                description:
                  description: The new description for the workspace.
                  type: string
              required:
                - team_id
                - description
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.teams.settings
        - admin
  /admin.teams.settings.setDiscoverability:
    post:
      description: An API method that allows admins to set the discoverability of a given
        workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDiscoverability
      operationId: admin_teams_settings_setDiscoverability
      parameters:
        - description: "Authentication token. Requires scope: `admin.teams:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                team_id:
                  description: The ID of the workspace to set discoverability on.
                  type: string
                discoverability:
                  description: This workspace's discovery setting. It must be set to one of
                    `open`, `invite_only`, `closed`, or `unlisted`.
                  type: string
              required:
                - team_id
                - discoverability
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.teams.settings
        - admin
  /admin.teams.settings.setIcon:
    post:
      description: Sets the icon of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setIcon
      operationId: admin_teams_settings_setIcon
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                token:
                  description: "Authentication token. Requires scope: `admin.teams:write`"
                  type: string
                image_url:
                  description: Image URL for the icon
                  type: string
                team_id:
                  description: ID for the workspace to set the icon for.
                  type: string
              required:
                - token
                - image_url
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.teams.settings
        - admin
  /admin.teams.settings.setName:
    post:
      description: Set the name of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setName
      operationId: admin_teams_settings_setName
      parameters:
        - description: "Authentication token. Requires scope: `admin.teams:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                team_id:
                  description: ID for the workspace to set the name for.
                  type: string
                name:
                  description: The new name of the workspace.
                  type: string
              required:
                - team_id
                - name
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.teams:write
      tags:
        - admin.teams.settings
        - admin
  /admin.users.assign:
    post:
      description: Add an Enterprise user to a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.assign
      operationId: admin_users_assign
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  description: The ID of the user to add to the workspace.
                  type: string
                channel_ids:
                  description: Comma separated values of channel IDs to add user in the new
                    workspace.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
                is_ultra_restricted:
                  description: True if user should be added to the workspace as a
                    single-channel guest.
                  type: boolean
                is_restricted:
                  description: True if user should be added to the workspace as a guest.
                  type: boolean
              required:
                - user_id
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /admin.users.invite:
    post:
      description: Invite a user to a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.invite
      operationId: admin_users_invite
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                channel_ids:
                  description: A comma-separated list of `channel_id`s for this user to
                    join. At least one channel is required.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
                real_name:
                  description: Full name of the user.
                  type: string
                is_ultra_restricted:
                  description: "Is this user a single channel guest user? (default: false)"
                  type: boolean
                custom_message:
                  description: An optional message to send to the user in the invite email.
                  type: string
                is_restricted:
                  description: "Is this user a multi-channel guest user? (default: false)"
                  type: boolean
                guest_expiration_ts:
                  description: Timestamp when guest account should be disabled. Only
                    include this timestamp if you are inviting a guest user and
                    you want their account to expire on a certain date.
                  type: string
                email:
                  description: The email address of the person to invite.
                  type: string
                resend:
                  description: "Allow this invite to be resent in the future if a user has
                    not signed up yet. (default: false)"
                  type: boolean
              required:
                - channel_ids
                - team_id
                - email
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /admin.users.list:
    get:
      description: List users on a workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.list
      operationId: admin_users_list
      parameters:
        - description: Set `cursor` to `next_cursor` returned by the previous call to list
            items in the next page.
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `admin.users:read`"
          in: header
          name: token
          required: true
          schema:
            type: string
        - description: Limit for how many users to be retrieved per page
          in: query
          name: limit
          schema:
            type: integer
        - description: The ID (`T1234`) of the workspace.
          in: query
          name: team_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:read
      tags:
        - admin.users
        - admin
  /admin.users.remove:
    post:
      description: Remove a user from a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.remove
      operationId: admin_users_remove
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  description: The ID of the user to remove.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
              required:
                - user_id
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /admin.users.session.reset:
    post:
      description: Wipes all valid sessions on all devices for a given user
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.session.reset
      operationId: admin_users_session_reset
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                mobile_only:
                  description: "Only expire mobile sessions (default: false)"
                  type: boolean
                user_id:
                  description: The ID of the user to wipe sessions for
                  type: string
                web_only:
                  description: "Only expire web sessions (default: false)"
                  type: boolean
              required:
                - user_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users.session
        - admin
  /admin.users.setAdmin:
    post:
      description: Set an existing guest, regular user, or owner to be an admin user.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setAdmin
      operationId: admin_users_setAdmin
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  description: The ID of the user to designate as an admin.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
              required:
                - user_id
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /admin.users.setExpiration:
    post:
      description: Set an expiration for a guest user
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setExpiration
      operationId: admin_users_setExpiration
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                expiration_ts:
                  description: Timestamp when guest account should be disabled.
                  type: integer
                user_id:
                  description: The ID of the user to set an expiration for.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
              required:
                - expiration_ts
                - user_id
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /admin.users.setOwner:
    post:
      description: Set an existing guest, regular user, or admin user to be a workspace
        owner.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setOwner
      operationId: admin_users_setOwner
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  description: Id of the user to promote to owner.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
              required:
                - user_id
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /admin.users.setRegular:
    post:
      description: Set an existing guest user, admin user, or owner to be a regular user.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.users.setRegular
      operationId: admin_users_setRegular
      parameters:
        - description: "Authentication token. Requires scope: `admin.users:write`"
          in: header
          name: token
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                user_id:
                  description: The ID of the user to designate as a regular user.
                  type: string
                team_id:
                  description: The ID (`T1234`) of the workspace.
                  type: string
              required:
                - user_id
                - team_id
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: Default success template
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: This method either only returns a brief _not OK_ response or a
                  verbose schema is not available for this method.
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                title: Default error template
                type: object
      security:
        - slackAuth:
            - admin.users:write
      tags:
        - admin.users
        - admin
  /api.test:
    get:
      description: Checks API calling code.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/api.test
      operationId: api_test
      parameters:
        - description: example property to return
          in: query
          name: foo
          schema:
            type: string
        - description: Error response to return
          in: query
          name: error
          schema:
            type: string
      responses:
        "200":
          description: Standard success response
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                description: Schema for successful response api.test method
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: api.test success schema
                type: object
        default:
          description: Artificial error response
          content:
            application/json:
              schema:
                additionalProperties:
                  type: object
                description: Schema for error response api.test method
                properties:
                  error:
                    type: string
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                  - error
                title: api.test error schema
                type: object
      security:
        - slackAuth:
            - none
      tags:
        - api
  /apps.permissions.info:
    get:
      description: Returns list of permissions this app has on a team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.info
      operationId: apps_permissions_info
      parameters:
        - description: "Authentication token. Requires scope: `none`"
          in: query
          name: token
          schema:
            type: string
      responses:
        "200":
          description: Standard success response when used with a user token
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Schema for successful response from apps.permissions.info
                  method
                properties:
                  info:
                    properties:
                      app_home:
                        properties:
                          resources:
                            $ref: "#/components/schemas/objs_resources"
                          scopes:
                            $ref: "#/components/schemas/objs_scopes"
                        type: object
                      channel:
                        properties:
                          resources:
                            $ref: "#/components/schemas/objs_resources"
                          scopes:
                            $ref: "#/components/schemas/objs_scopes"
                        type: object
                      group:
                        properties:
                          resources:
                            $ref: "#/components/schemas/objs_resources"
                          scopes:
                            $ref: "#/components/schemas/objs_scopes"
                        type: object
                      im:
                        properties:
                          resources:
                            $ref: "#/components/schemas/objs_resources"
                          scopes:
                            $ref: "#/components/schemas/objs_scopes"
                        type: object
                      mpim:
                        properties:
                          resources:
                            $ref: "#/components/schemas/objs_resources"
                          scopes:
                            $ref: "#/components/schemas/objs_scopes"
                        type: object
                      team:
                        properties:
                          resources:
                            $ref: "#/components/schemas/objs_resources"
                          scopes:
                            $ref: "#/components/schemas/objs_scopes"
                        required:
                          - scopes
                          - resources
                        type: object
                    required:
                      - team
                      - channel
                      - group
                      - mpim
                      - im
                      - app_home
                    type: object
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                  - info
                title: apps.permissions.info schema
                type: object
        default:
          description: Standard failure response when used with an invalid token
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Schema for error response from apps.permissions.info method
                properties:
                  error:
                    enum:
                      - not_authed
                      - invalid_auth
                      - account_inactive
                      - token_revoked
                      - no_permission
                      - org_login_required
                      - user_is_bot
                      - invalid_arg_name
                      - invalid_array_arg
                      - invalid_charset
                      - invalid_form_data
                      - invalid_post_type
                      - missing_post_type
                      - team_added_to_org
                      - invalid_json
                      - json_not_object
                      - request_timeout
                      - upgrade_required
                      - fatal_error
                    type: string
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                  - error
                title: apps.permissions.info error schema
                type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions
        - apps
  /apps.permissions.request:
    get:
      description: Allows an app to request additional scopes
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.request
      operationId: apps_permissions_request
      parameters:
        - description: A comma separated list of scopes to request for
          in: query
          name: scopes
          required: true
          schema:
            type: string
        - description: "Authentication token. Requires scope: `none`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: Token used to trigger the permissions API
          in: query
          name: trigger_id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Standard success response when used with a user token
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Schema for successful response from apps.permissions.request
                  method
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                required:
                  - ok
                title: apps.permissions.request schema
                type: object
        default:
          description: Standard failure response when trigger_id is invalid
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Schema for error response from apps.permissions.request method
                properties:
                  error:
                    enum:
                      - invalid_trigger
                      - trigger_exchanged
                      - invalid_scope
                      - invalid_user
                      - not_authed
                      - invalid_auth
                      - account_inactive
                      - token_revoked
                      - no_permission
                      - org_login_required
                      - user_is_bot
                      - invalid_arg_name
                      - invalid_array_arg
                      - invalid_charset
                      - invalid_form_data
                      - invalid_post_type
                      - missing_post_type
                      - team_added_to_org
                      - invalid_json
                      - json_not_object
                      - request_timeout
                      - upgrade_required
                      - fatal_error
                    type: string
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                  - error
                title: apps.permissions.request error schema
                type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions
        - apps
  /apps.permissions.resources.list:
    get:
      description: Returns list of resource grants this app has on a team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.resources.list
      operationId: apps_permissions_resources_list
      parameters:
        - description: Paginate through collections of data by setting the `cursor`
            parameter to a `next_cursor` attribute returned by a previous
            request's `response_metadata`. Default value fetches the first
            "page" of the collection. See [pagination](/docs/pagination) for
            more detail.
          in: query
          name: cursor
          schema:
            type: string
        - description: "Authentication token. Requires scope: `none`"
          in: query
          name: token
          required: true
          schema:
            type: string
        - description: The maximum number of items to return.
          in: query
          name: limit
          schema:
            type: integer
      responses:
        "200":
          description: Typical successful paginated response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: Schema for successful response apps.permissions.resources.list
                  method
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                  resources:
                    items:
                      properties:
                        id:
                          title: An ID for a resource
                          type: string
                          x-examples:
                            - T0DES3UAN
                            - C0ABC1ABC
                        type:
                          title: The type of resource the `id` corresponds to
                          type: string
                          x-examples:
                            - team
                            - channel
                            - mpim
                      type: object
                    type: array
                  response_metadata:
                    additionalProperties: false
                    properties:
                      next_cursor:
                        type: string
                        x-examples:
                          - dGVhbTpDMUg5UkVTR0w=
                    required:
                      - next_cursor
                    type: object
                required:
                  - ok
                  - resources
                title: apps.permissions.resources.list success schema
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Schema for error response from apps.permissions.resources.list
                  method
                properties:
                  error:
                    enum:
                      - invalid_cursor
                      - not_authed
                      - invalid_auth
                      - account_inactive
                      - token_revoked
                      - no_permission
                      - org_login_required
                      - user_is_bot
                      - invalid_arg_name
                      - invalid_array_arg
                      - invalid_charset
                      - invalid_form_data
                      - invalid_post_type
                      - missing_post_type
                      - team_added_to_org
                      - invalid_json
                      - json_not_object
                      - request_timeout
                      - upgrade_required
                      - fatal_error
                    type: string
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                  - error
                title: apps.permissions.resources.list error schema
                type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions.resources
        - apps
  /apps.permissions.scopes.list:
    get:
      description: Returns list of scopes this app has on a team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.scopes.list
      operationId: apps_permissions_scopes_list
      parameters:
        - description: "Authentication token. Requires scope: `none`"
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Typical successful paginated response
          content:
            application/json:
              schema:
                additionalProperties: true
                description: Schema for successful response api.permissions.scopes.list
                  method
                properties:
                  ok:
                    $ref: "#/components/schemas/defs_ok_true"
                  scopes:
                    additionalProperties: true
                    properties:
                      app_home:
                        $ref: "#/components/schemas/objs_scopes"
                      channel:
                        $ref: "#/components/schemas/objs_scopes"
                      group:
                        $ref: "#/components/schemas/objs_scopes"
                      im:
                        $ref: "#/components/schemas/objs_scopes"
                      mpim:
                        $ref: "#/components/schemas/objs_scopes"
                      team:
                        $ref: "#/components/schemas/objs_scopes"
                      user:
                        $ref: "#/components/schemas/objs_scopes"
                    type: object
                required:
                  - ok
                  - scopes
                title: api.permissions.scopes.list success schema
                type: object
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                additionalProperties: false
                description: Schema for error response from apps.permissions.scopes.list
                  method
                properties:
                  error:
                    enum:
                      - not_authed
                      - invalid_auth
                      - account_inactive
                      - token_revoked
                      - no_permission
                      - org_login_required
                      - user_is_bot
                      - invalid_arg_name
                      - invalid_array_arg
                      - invalid_charset
                      - invalid_form_data
                      - invalid_post_type
                      - missing_post_type
                      - team_added_to_org
                      - invalid_json
                      - json_not_object
                      - request_timeout
                      - upgrade_required
                      - fatal_error
                    type: string
                  ok:
                    $ref: "#/components/schemas/defs_ok_false"
                required:
                  - ok
                  - error
                title: apps.permissions.scopes.list error schema
                type: object
      security:
        - slackAuth:
            - none
      tags:
        - apps.permissions.scopes
        - apps
  /apps.permissions.users.list:
    get:
      description: Returns list of user grants and corresponding scopes this app has on a
        team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/apps.permissions.users.list
      operationId: apps_permissions_users_list
      parameters:
[...]
