openapi: 3.0.1
info:
  title: Slack Web API
  description: One way to interact with the Slack platform is its HTTP RPC-based Web
    API, a collection of methods requiring OAuth 2.0-based user, bot, or workspace
    tokens blessed with related OAuth scopes.
  contact:
    name: Slack developer relations
    url: https://api.slack.com/support
  version: 1.7.0
externalDocs:
  description: Learn more about the Slack Web API
  url: https://api.slack.com/web
servers:
- url: https://slack.com/api
tags:
  - name: admin.apps
  - name: admin
  - name: admin.apps.approved
  - name: admin.apps.requests
  - name: admin.apps.restricted
  - name: admin.conversations
  - name: admin.conversations.ekm
  - name: admin.conversations.restrictAccess
  - name: admin.emoji
  - name: admin.inviteRequests
  - name: admin.inviteRequests.approved
  - name: admin.inviteRequests.denied
  - name: admin.teams.admins
  - name: admin.teams
  - name: admin.teams.owners
  - name: admin.teams.settings
  - name: admin.usergroups
  - name: admin.users
  - name: admin.users.session
  - name: api
  - name: apps
  - name: apps.event.authorizations
  - name: apps.permissions
  - name: apps.permissions.resources
  - name: apps.permissions.scopes
  - name: apps.permissions.users
  - name: auth
  - name: bots
  - name: calls
  - name: calls.participants
  - name: chat
  - name: chat.scheduledMessages
  - name: conversations
  - name: dialog
  - name: dnd
  - name: emoji
  - name: files
  - name: files.comments
  - name: files.remote
  - name: migration
  - name: oauth
  - name: oauth.v2
  - name: pins
  - name: reactions
  - name: reminders
  - name: rtm
  - name: search
  - name: stars
  - name: team
  - name: team.profile
  - name: usergroups
  - name: usergroups.users
  - name: users
  - name: users.profile
  - name: views
  - name: workflows
paths:
  /admin.apps.approve:
    post:
      tags:
      - admin.apps
      - admin
      description: Approve an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approve
      operationId: admin_apps_approve
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.apps:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                app_id:
                  type: string
                  description: The id of the app to approve.
                request_id:
                  type: string
                  description: The id of the request to approve.
                team_id:
                  type: string
          application/json:
            schema:
              properties:
                app_id:
                  type: string
                  description: The id of the app to approve.
                request_id:
                  type: string
                  description: The id of the request to approve.
                team_id:
                  type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.apps:write
  /admin.apps.approved.list:
    get:
      tags:
      - admin.apps.approved
      - admin
      description: List approved apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.approved.list
      operationId: admin_apps_approved_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.apps:read`'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        schema:
          type: string
      - name: team_id
        in: query
        schema:
          type: string
      - name: enterprise_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.apps:read
  /admin.apps.requests.list:
    get:
      tags:
      - admin.apps.requests
      - admin
      description: List app requests for a team/workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.requests.list
      operationId: admin_apps_requests_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.apps:read`'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        schema:
          type: string
      - name: team_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.apps:read
  /admin.apps.restrict:
    post:
      tags:
      - admin.apps
      - admin
      description: Restrict an app for installation on a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restrict
      operationId: admin_apps_restrict
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.apps:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                app_id:
                  type: string
                  description: The id of the app to restrict.
                request_id:
                  type: string
                  description: The id of the request to restrict.
                team_id:
                  type: string
          application/json:
            schema:
              properties:
                app_id:
                  type: string
                  description: The id of the app to restrict.
                request_id:
                  type: string
                  description: The id of the request to restrict.
                team_id:
                  type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.apps:write
  /admin.apps.restricted.list:
    get:
      tags:
      - admin.apps.restricted
      - admin
      description: List restricted apps for an org or workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.apps.restricted.list
      operationId: admin_apps_restricted_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.apps:read`'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        schema:
          type: string
      - name: team_id
        in: query
        schema:
          type: string
      - name: enterprise_id
        in: query
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.apps:read
  /admin.conversations.archive:
    post:
      tags:
      - admin.conversations
      - admin
      description: Archive a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.archive
      operationId: admin_conversations_archive
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to archive.
          application/json:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to archive.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.archive schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.archive
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.archive error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.archive
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.convertToPrivate:
    post:
      tags:
      - admin.conversations
      - admin
      description: Convert a public channel to a private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.convertToPrivate
      operationId: admin_conversations_convertToPrivate
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to convert to private.
          application/json:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to convert to private.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.convertToPrivate schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.convertToPrivate
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.convertToPrivate error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.convertToPrivate
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.create:
    post:
      tags:
      - admin.conversations
      - admin
      description: Create a public or private channel-based conversation.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.create
      operationId: admin_conversations_create
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - is_private
              - name
              properties:
                name:
                  type: string
                  description: Name of the public or private channel to create.
                description:
                  type: string
                  description: Description of the public or private channel to create.
                is_private:
                  type: boolean
                  description: When `true`, creates a private channel instead of a
                    public channel
                org_wide:
                  type: boolean
                  description: 'When `true`, the channel will be available org-wide.
                    Note: if the channel is not `org_wide=true`, you must specify
                    a `team_id` for this channel'
                team_id:
                  type: string
                  description: 'The workspace to create the channel in. Note: this
                    argument is required unless you set `org_wide=true`.'
          application/json:
            schema:
              required:
              - is_private
              - name
              properties:
                name:
                  type: string
                  description: Name of the public or private channel to create.
                description:
                  type: string
                  description: Description of the public or private channel to create.
                is_private:
                  type: boolean
                  description: When `true`, creates a private channel instead of a
                    public channel
                org_wide:
                  type: boolean
                  description: 'When `true`, the channel will be available org-wide.
                    Note: if the channel is not `org_wide=true`, you must specify
                    a `team_id` for this channel'
                team_id:
                  type: string
                  description: 'The workspace to create the channel in. Note: this
                    argument is required unless you set `org_wide=true`.'
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.create schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.create
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.create error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.create
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.delete:
    post:
      tags:
      - admin.conversations
      - admin
      description: Delete a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.delete
      operationId: admin_conversations_delete
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to delete.
          application/json:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to delete.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.delete schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.delete
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.delete error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.delete
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.disconnectShared:
    post:
      tags:
      - admin.conversations
      - admin
      description: Disconnect a connected channel from one or more workspaces.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.disconnectShared
      operationId: admin_conversations_disconnectShared
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to be disconnected from some workspaces.
                leaving_team_ids:
                  type: string
                  description: The team to be removed from the channel. Currently
                    only a single team id can be specified.
          application/json:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to be disconnected from some workspaces.
                leaving_team_ids:
                  type: string
                  description: The team to be removed from the channel. Currently
                    only a single team id can be specified.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.rename schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.disconnectShared
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.disconnectShared error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.disconnectShared
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.ekm.listOriginalConnectedChannelInfo:
    get:
      tags:
      - admin.conversations.ekm
      - admin
      description: List all disconnected channels—i.e., channels that were once connected
        to other workspaces and then disconnected—and the corresponding original channel
        IDs for key revocation with EKM.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.ekm.listOriginalConnectedChannelInfo
      operationId: admin_conversations_ekm_listOriginalConnectedChannelInfo
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.conversations:read`'
        required: true
        schema:
          type: string
      - name: channel_ids
        in: query
        description: A comma-separated list of channels to filter to.
        schema:
          type: string
      - name: team_ids
        in: query
        description: A comma-separated list of the workspaces to which the channels
          you would like returned belong.
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.conversations:read
  /admin.conversations.getConversationPrefs:
    get:
      tags:
      - admin.conversations
      - admin
      description: Get conversation preferences for a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getConversationPrefs
      operationId: admin_conversations_getConversationPrefs
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:read`'
        required: true
        schema:
          type: string
      - name: channel_id
        in: query
        description: The channel to get preferences for.
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.getConversationPrefs schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.getConversationPrefs
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.unarchive error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.getConversationPrefs
      security:
      - slackAuth:
        - admin.conversations:read
  /admin.conversations.getTeams:
    get:
      tags:
      - admin.conversations
      - admin
      description: Get all the workspaces a given public or private channel is connected
        to within this Enterprise org.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.getTeams
      operationId: admin_conversations_getTeams
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:read`'
        required: true
        schema:
          type: string
      - name: channel_id
        in: query
        description: The channel to determine connected workspaces within the organization
          for.
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.getTeams schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.getTeams
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.getTeams error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.getTeams
      security:
      - slackAuth:
        - admin.conversations:read
  /admin.conversations.invite:
    post:
      tags:
      - admin.conversations
      - admin
      description: Invite a user to a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.invite
      operationId: admin_conversations_invite
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - user_ids
              properties:
                user_ids:
                  type: string
                  description: The users to invite.
                channel_id:
                  type: string
                  description: The channel that the users will be invited to.
          application/json:
            schema:
              required:
              - channel_id
              - user_ids
              properties:
                user_ids:
                  type: string
                  description: The users to invite.
                channel_id:
                  type: string
                  description: The channel that the users will be invited to.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.invite schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.invite
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.invite error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.invite
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.rename:
    post:
      tags:
      - admin.conversations
      - admin
      description: Rename a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.rename
      operationId: admin_conversations_rename
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - name
              properties:
                channel_id:
                  type: string
                  description: The channel to rename.
                name:
                  type: string
          application/json:
            schema:
              required:
              - channel_id
              - name
              properties:
                channel_id:
                  type: string
                  description: The channel to rename.
                name:
                  type: string
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.rename schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.rename
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.unarchive error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.rename
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.restrictAccess.addGroup:
    post:
      tags:
      - admin.conversations.restrictAccess
      - admin
      description: Add an allowlist of IDP groups for accessing a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.addGroup
      operationId: admin_conversations_restrictAccess_addGroup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - group_id
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.conversations:write`'
                team_id:
                  type: string
                  description: The workspace where the channel exists. This argument
                    is required for channels only tied to one workspace, and optional
                    for channels that are shared across an organization.
                group_id:
                  type: string
                  description: The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org)
                    ID to be an allowlist for the private channel.
                channel_id:
                  type: string
                  description: The channel to link this group to.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.restrictAccess.listGroups:
    get:
      tags:
      - admin.conversations.restrictAccess
      - admin
      description: List all IDP Groups linked to a channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.listGroups
      operationId: admin_conversations_restrictAccess_listGroups
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.conversations:read`'
        required: true
        schema:
          type: string
      - name: channel_id
        in: query
        required: true
        schema:
          type: string
      - name: team_id
        in: query
        description: The workspace where the channel exists. This argument is required
          for channels only tied to one workspace, and optional for channels that
          are shared across an organization.
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.conversations:read
  /admin.conversations.restrictAccess.removeGroup:
    post:
      tags:
      - admin.conversations.restrictAccess
      - admin
      description: Remove a linked IDP group linked from a private channel
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.restrictAccess.removeGroup
      operationId: admin_conversations_restrictAccess_removeGroup
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - group_id
              - team_id
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.conversations:write`'
                team_id:
                  type: string
                  description: The workspace where the channel exists. This argument
                    is required for channels only tied to one workspace, and optional
                    for channels that are shared across an organization.
                group_id:
                  type: string
                  description: The [IDP Group](https://slack.com/help/articles/115001435788-Connect-identity-provider-groups-to-your-Enterprise-Grid-org)
                    ID to remove from the private channel.
                channel_id:
                  type: string
                  description: The channel to remove the linked group from.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.search:
    get:
      tags:
      - admin.conversations
      - admin
      description: Search for public or private channels in an Enterprise organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.search
      operationId: admin_conversations_search
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:read`'
        required: true
        schema:
          type: string
      - name: team_ids
        in: query
        description: Comma separated string of team IDs, signifying the workspaces
          to search through.
        schema:
          type: string
      - name: query
        in: query
        description: Name of the the channel to query by.
        schema:
          type: string
      - name: limit
        in: query
        description: Maximum number of items to be returned. Must be between 1 - 20
          both inclusive. Default is 10.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        schema:
          type: string
      - name: search_channel_types
        in: query
        description: The type of channel to include or exclude in the search. For
          example `private` will search private channels, while `private_exclude`
          will exclude them. For a full list of types, check the [Types section](#types).
        schema:
          type: string
      - name: sort
        in: query
        description: 'Possible values are `relevant` (search ranking based on what
          we think is closest), `name` (alphabetical), `member_count` (number of users
          in the channel), and `created` (date channel was created). You can optionally
          pair this with the `sort_dir` arg to change how it is sorted '
        schema:
          type: string
      - name: sort_dir
        in: query
        description: Sort direction. Possible values are `asc` for ascending order
          like (1, 2, 3) or (a, b, c), and `desc` for descending order like (3, 2,
          1) or (c, b, a)
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.search schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.search
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.search error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.search
      security:
      - slackAuth:
        - admin.conversations:read
  /admin.conversations.setConversationPrefs:
    post:
      tags:
      - admin.conversations
      - admin
      description: Set the posting permissions for a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setConversationPrefs
      operationId: admin_conversations_setConversationPrefs
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              - prefs
              properties:
                channel_id:
                  type: string
                  description: The channel to set the prefs for
                prefs:
                  type: string
                  description: The prefs for this channel in a stringified JSON format.
          application/json:
            schema:
              required:
              - channel_id
              - prefs
              properties:
                channel_id:
                  type: string
                  description: The channel to set the prefs for
                prefs:
                  type: string
                  description: The prefs for this channel in a stringified JSON format.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.setConversationPrefs schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.setConversationPrefs
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.setConversationPrefs error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.setConversationPrefs
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.setTeams:
    post:
      tags:
      - admin.conversations
      - admin
      description: Set the workspaces in an Enterprise grid org that connect to a
        public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.setTeams
      operationId: admin_conversations_setTeams
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The encoded `channel_id` to add or remove to workspaces.
                team_id:
                  type: string
                  description: The workspace to which the channel belongs. Omit this
                    argument if the channel is a cross-workspace shared channel.
                target_team_ids:
                  type: string
                  description: A comma-separated list of workspaces to which the channel
                    should be shared. Not required if the channel is being shared
                    org-wide.
                org_channel:
                  type: boolean
                  description: True if channel has to be converted to an org channel
          application/json:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The encoded `channel_id` to add or remove to workspaces.
                team_id:
                  type: string
                  description: The workspace to which the channel belongs. Omit this
                    argument if the channel is a cross-workspace shared channel.
                target_team_ids:
                  type: string
                  description: A comma-separated list of workspaces to which the channel
                    should be shared. Not required if the channel is being shared
                    org-wide.
                org_channel:
                  type: boolean
                  description: True if channel has to be converted to an org channel
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.conversations.unarchive:
    post:
      tags:
      - admin.conversations
      - admin
      description: Unarchive a public or private channel.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.conversations.unarchive
      operationId: admin_conversations_unarchive
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.conversations:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to unarchive.
          application/json:
            schema:
              required:
              - channel_id
              properties:
                channel_id:
                  type: string
                  description: The channel to unarchive.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: admin.conversations.unarchive schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for successful response of admin.conversations.unarchive
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: admin.conversations.unarchive error schema
                type: object
                additionalProperties:
                  type: object
                description: Schema for error response from admin.conversations.unarchive
      security:
      - slackAuth:
        - admin.conversations:write
  /admin.emoji.add:
    post:
      tags:
      - admin.emoji
      - admin
      description: Add an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.add
      operationId: admin_emoji_add
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              - token
              - url
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.teams:write`'
                name:
                  type: string
                  description: The name of the emoji to be removed. Colons (`:myemoji:`)
                    around the value are not required, although they may be included.
                url:
                  type: string
                  description: The URL of a file to use as an image for the emoji.
                    Square images under 128KB and with transparent backgrounds work
                    best.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.emoji.addAlias:
    post:
      tags:
      - admin.emoji
      - admin
      description: Add an emoji alias.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.addAlias
      operationId: admin_emoji_addAlias
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - alias_for
              - name
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.teams:write`'
                name:
                  type: string
                  description: The name of the emoji to be aliased. Colons (`:myemoji:`)
                    around the value are not required, although they may be included.
                alias_for:
                  type: string
                  description: The alias of the emoji.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.emoji.list:
    get:
      tags:
      - admin.emoji
      - admin
      description: List emoji for an Enterprise Grid organization.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.list
      operationId: admin_emoji_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.teams:read`'
        required: true
        schema:
          type: string
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:read
  /admin.emoji.remove:
    post:
      tags:
      - admin.emoji
      - admin
      description: Remove an emoji across an Enterprise Grid organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.remove
      operationId: admin_emoji_remove
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.teams:write`'
                name:
                  type: string
                  description: The name of the emoji to be removed. Colons (`:myemoji:`)
                    around the value are not required, although they may be included.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.emoji.rename:
    post:
      tags:
      - admin.emoji
      - admin
      description: Rename an emoji.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.emoji.rename
      operationId: admin_emoji_rename
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              - new_name
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.teams:write`'
                name:
                  type: string
                  description: The name of the emoji to be renamed. Colons (`:myemoji:`)
                    around the value are not required, although they may be included.
                new_name:
                  type: string
                  description: The new name of the emoji.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.inviteRequests.approve:
    post:
      tags:
      - admin.inviteRequests
      - admin
      description: Approve a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approve
      operationId: admin_inviteRequests_approve
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.invites:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - invite_request_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace where the invite request was made.
                invite_request_id:
                  type: string
                  description: ID of the request to invite.
          application/json:
            schema:
              required:
              - invite_request_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace where the invite request was made.
                invite_request_id:
                  type: string
                  description: ID of the request to invite.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.invites:write
  /admin.inviteRequests.approved.list:
    get:
      tags:
      - admin.inviteRequests.approved
      - admin
      description: List all approved workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.approved.list
      operationId: admin_inviteRequests_approved_list
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.invites:read`'
        required: true
        schema:
          type: string
      - name: team_id
        in: query
        description: ID for the workspace where the invite requests were made.
        schema:
          type: string
      - name: cursor
        in: query
        description: Value of the `next_cursor` field sent as part of the previous
          API response
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results that will be returned by the API on each
          invocation. Must be between 1 - 1000, both inclusive
        schema:
          type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.invites:read
  /admin.inviteRequests.denied.list:
    get:
      tags:
      - admin.inviteRequests.denied
      - admin
      description: List all denied workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.denied.list
      operationId: admin_inviteRequests_denied_list
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.invites:read`'
        required: true
        schema:
          type: string
      - name: team_id
        in: query
        description: ID for the workspace where the invite requests were made.
        schema:
          type: string
      - name: cursor
        in: query
        description: Value of the `next_cursor` field sent as part of the previous
          api response
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results that will be returned by the API on each
          invocation. Must be between 1 - 1000 both inclusive
        schema:
          type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.invites:read
  /admin.inviteRequests.deny:
    post:
      tags:
      - admin.inviteRequests
      - admin
      description: Deny a workspace invite request.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.deny
      operationId: admin_inviteRequests_deny
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.invites:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - invite_request_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace where the invite request was made.
                invite_request_id:
                  type: string
                  description: ID of the request to invite.
          application/json:
            schema:
              required:
              - invite_request_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace where the invite request was made.
                invite_request_id:
                  type: string
                  description: ID of the request to invite.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.invites:write
  /admin.inviteRequests.list:
    get:
      tags:
      - admin.inviteRequests
      - admin
      description: List all pending workspace invite requests.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.inviteRequests.list
      operationId: admin_inviteRequests_list
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.invites:read`'
        required: true
        schema:
          type: string
      - name: team_id
        in: query
        description: ID for the workspace where the invite requests were made.
        schema:
          type: string
      - name: cursor
        in: query
        description: Value of the `next_cursor` field sent as part of the previous
          API response
        schema:
          type: string
      - name: limit
        in: query
        description: The number of results that will be returned by the API on each
          invocation. Must be between 1 - 1000, both inclusive
        schema:
          type: integer
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.invites:read
  /admin.teams.admins.list:
    get:
      tags:
      - admin.teams.admins
      - admin
      description: List all of the admins on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.admins.list
      operationId: admin_teams_admins_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.teams:read`'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        schema:
          type: string
      - name: team_id
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:read
  /admin.teams.create:
    post:
      tags:
      - admin.teams
      - admin
      description: Create an Enterprise team.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.create
      operationId: admin_teams_create
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - team_domain
              - team_name
              properties:
                team_domain:
                  type: string
                  description: Team domain (for example, slacksoftballteam).
                team_name:
                  type: string
                  description: Team name (for example, Slack Softball Team).
                team_description:
                  type: string
                  description: Description for the team.
                team_discoverability:
                  type: string
                  description: Who can join the team. A team's discoverability can
                    be `open`, `closed`, `invite_only`, or `unlisted`.
          application/json:
            schema:
              required:
              - team_domain
              - team_name
              properties:
                team_domain:
                  type: string
                  description: Team domain (for example, slacksoftballteam).
                team_name:
                  type: string
                  description: Team name (for example, Slack Softball Team).
                team_description:
                  type: string
                  description: Description for the team.
                team_discoverability:
                  type: string
                  description: Who can join the team. A team's discoverability can
                    be `open`, `closed`, `invite_only`, or `unlisted`.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.teams.list:
    get:
      tags:
      - admin.teams
      - admin
      description: List all teams on an Enterprise organization
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.list
      operationId: admin_teams_list
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:read`'
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 100
          both inclusive.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:read
  /admin.teams.owners.list:
    get:
      tags:
      - admin.teams.owners
      - admin
      description: List all of the owners on a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.owners.list
      operationId: admin_teams_owners_list
      parameters:
      - name: token
        in: query
        description: 'Authentication token. Requires scope: `admin.teams:read`'
        required: true
        schema:
          type: string
      - name: team_id
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 - 1000
          both inclusive.
        schema:
          type: integer
      - name: cursor
        in: query
        description: Set `cursor` to `next_cursor` returned by the previous call to
          list items in the next page.
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:read
  /admin.teams.settings.info:
    get:
      tags:
      - admin.teams.settings
      - admin
      description: Fetch information about settings in a workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.info
      operationId: admin_teams_settings_info
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:read`'
        required: true
        schema:
          type: string
      - name: team_id
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:read
  /admin.teams.settings.setDefaultChannels:
    post:
      tags:
      - admin.teams.settings
      - admin
      description: Set the default channels of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDefaultChannels
      operationId: admin_teams_settings_setDefaultChannels
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_ids
              - team_id
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.teams:write`'
                team_id:
                  type: string
                  description: ID for the workspace to set the default channel for.
                channel_ids:
                  type: string
                  description: An array of channel IDs.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.teams.settings.setDescription:
    post:
      tags:
      - admin.teams.settings
      - admin
      description: Set the description of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDescription
      operationId: admin_teams_settings_setDescription
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - description
              - team_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace to set the description for.
                description:
                  type: string
                  description: The new description for the workspace.
          application/json:
            schema:
              required:
              - description
              - team_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace to set the description for.
                description:
                  type: string
                  description: The new description for the workspace.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.teams.settings.setDiscoverability:
    post:
      tags:
      - admin.teams.settings
      - admin
      description: An API method that allows admins to set the discoverability of
        a given workspace
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setDiscoverability
      operationId: admin_teams_settings_setDiscoverability
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - discoverability
              - team_id
              properties:
                team_id:
                  type: string
                  description: The ID of the workspace to set discoverability on.
                discoverability:
                  type: string
                  description: This workspace's discovery setting. It must be set
                    to one of `open`, `invite_only`, `closed`, or `unlisted`.
          application/json:
            schema:
              required:
              - discoverability
              - team_id
              properties:
                team_id:
                  type: string
                  description: The ID of the workspace to set discoverability on.
                discoverability:
                  type: string
                  description: This workspace's discovery setting. It must be set
                    to one of `open`, `invite_only`, `closed`, or `unlisted`.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.teams.settings.setIcon:
    post:
      tags:
      - admin.teams.settings
      - admin
      description: Sets the icon of a workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setIcon
      operationId: admin_teams_settings_setIcon
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - image_url
              - team_id
              - token
              properties:
                token:
                  type: string
                  description: 'Authentication token. Requires scope: `admin.teams:write`'
                image_url:
                  type: string
                  description: Image URL for the icon
                team_id:
                  type: string
                  description: ID for the workspace to set the icon for.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.teams.settings.setName:
    post:
      tags:
      - admin.teams.settings
      - admin
      description: Set the name of a given workspace.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.teams.settings.setName
      operationId: admin_teams_settings_setName
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              - team_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace to set the name for.
                name:
                  type: string
                  description: The new name of the workspace.
          application/json:
            schema:
              required:
              - name
              - team_id
              properties:
                team_id:
                  type: string
                  description: ID for the workspace to set the name for.
                name:
                  type: string
                  description: The new name of the workspace.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.teams:write
  /admin.usergroups.addChannels:
    post:
      tags:
      - admin.usergroups
      - admin
      description: Add one or more default channels to an IDP group.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addChannels
      operationId: admin_usergroups_addChannels
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.usergroups:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - channel_ids
              - usergroup_id
              properties:
                usergroup_id:
                  type: string
                  description: ID of the IDP group to add default channels for.
                team_id:
                  type: string
                  description: The workspace to add default channels in.
                channel_ids:
                  type: string
                  description: Comma separated string of channel IDs.
          application/json:
            schema:
              required:
              - channel_ids
              - usergroup_id
              properties:
                usergroup_id:
                  type: string
                  description: ID of the IDP group to add default channels for.
                team_id:
                  type: string
                  description: The workspace to add default channels in.
                channel_ids:
                  type: string
                  description: Comma separated string of channel IDs.
        required: true
      responses:
        "200":
          description: Typical success response
          content:
            application/json:
              schema:
                title: Default success template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _OK_ response
                  or a verbose schema is not available for this method.
        default:
          description: Typical error response if the token provided is not associated
            with an Org Admin or Owner
          content:
            application/json:
              schema:
                title: Default error template
                type: object
                additionalProperties:
                  type: object
                description: This method either only returns a brief _not OK_ response
                  or a verbose schema is not available for this method.
      security:
      - slackAuth:
        - admin.usergroups:write
  /admin.usergroups.addTeams:
    post:
      tags:
      - admin.usergroups
      - admin
      description: Associate one or more default workspaces with an organization-wide
        IDP group.
      externalDocs:
        description: API method documentation
        url: https://api.slack.com/methods/admin.usergroups.addTeams
      operationId: admin_usergroups_addTeams
      parameters:
      - name: token
        in: header
        description: 'Authentication token. Requires scope: `admin.teams:write`'
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - team_ids
              - usergroup_id
              properties:
                usergroup_id:
                  type: string
                  description: An encoded usergroup (IDP Group) ID.
                team_ids:
                  type: string
                  description: A comma separated list of encoded team (workspace)
                    IDs. Each workspace *MUST* belong to the organization associated
                    with the token.
                auto_provision:
                  type: boolean
                  description: When `true`, this method automatically creates new
                    workspace accounts for the IDP group members.
          application/json:
            schema:
              required:
              - team_ids
              - usergroup_id
              properties:
                usergroup_id:
                  type: string
                  description: An encoded usergroup (IDP Group) ID.
                team_ids:
                  type: string
[...]
